@import "../globalstyle.css";
@import "../consult/sidebarConsultantList.css";
@import "../consult/sidebarReservationList.css";

.container{
  width: 100%;
  max-width: 1300px;
  margin-top: 7vh;
  height: 85vh;
}

#previewContainer {
  margin-top: 10px;
  text-align: center;
}
#preview {
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
