<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>LearnWay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>관리자 페이지</h1>
    <div class="list-group">
        <a href="/admin/masterdata" class="list-group-item list-group-item-action">기준 정보 관리</a>
        <a href="/member/members" class="list-group-item list-group-item-action">회원 정보 조회</a>
        <a href="#" class="list-group-item list-group-item-action">공지 사항 등록</a>
        <a href="/admin/consult/join" class="list-group-item list-group-item-action">컨설턴트 등록</a>
    </div>
</div>