<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnWay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script><!-- jquery 는 항상 위에둘것 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script><!-- 부트스트랩 js -->
    <script src="/js/admin/sidebar.js"></script>
    <link rel="stylesheet" href="/css/member/admin.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!-- 사이드바 2 -->
        <div class="col-md-2">
            <div th:replace="admin/admin-sidebar :: sidebar"></div>
        </div>
        <!-- 빈공간 1 -->
        <div class="col-md-1"></div>
        <!-- 메인컨텐츠 8 -->
        <div class="col-md-8 mt-5">
            <h2>회원 조회</h2>
            <hr>
            <div class="form-group">
                <label for="searchName"></label>
                <div class="input-group">
                    <input type="text" id="searchName" class="form-control" placeholder="이름을 검색하세요" onkeyup="searchMembers()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="resetSearch()">전체 보기</button>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>이름</th>
                    <th>연락처</th>
                    <th>학교</th>
                    <th>학년</th>
                    <th>학생 노트</th>
                    <th>수정</th>
                </tr>
                </thead>
                <tbody id="memberTableBody">
                <tr th:each="member : ${members}">
                    <td th:text="${member.id}"></td>
                    <td th:text="${member.memberName}"></td>
                    <td th:text="${member.memberPhone}"></td>
                    <td th:text="${member.memberSchool}"></td>
                    <td th:text="${member.memberGrade}"></td>
                    <td><input type="text" th:value="${member.memberNote}" class="form-control" id="note-[[${member.id}]]"></td>
                    <td><button class="btn btn-outline-success btn-block" th:onclick="'updateMemberNote(' + ${member.id} + ')'">저장</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 빈공간 1 -->
        <div class="col-md-1"></div>
    </div>
</div>
<script>
    // 멤버 검색
    function searchMembers() {
        const searchName = document.getElementById("searchName").value;
        fetch(`/api/member/searchMembers?name=${encodeURIComponent(searchName)}`)
            .then(response => response.json())
            .then(data => {
                const tableBody = document.getElementById("memberTableBody");
                tableBody.innerHTML = "";
                data.forEach(member => {
                    const row = document.createElement("tr");
                    row.innerHTML = `
                        <td>${member.id}</td>
                        <td>${member.memberName}</td>
                        <td>${member.memberPhone}</td>
                        <td>${member.memberSchool}</td>
                        <td>${member.memberGrade}</td>
                        <td><input type="text" value="${member.memberNote}" class="form-control" id="note-${member.id}"></td>
                        <td><button class="btn btn-primary" onclick="updateMemberNote(${member.id})">저장</button></td>
                    `;
                    tableBody.appendChild(row);
                });
            })
            .catch(error => {
                console.error('멤버 검색 실패', error);
            });
    }

    // 검색 리셋
    function resetSearch() {
        document.getElementById("searchName").value = "";
        location.reload();
    }

    // 멤버 노트 업데이트
    function updateMemberNote(memberId) {
        const noteElement = document.getElementById(`note-${memberId}`);
        if (noteElement) {
            const note = noteElement.value;
            const requestData = {
                id: memberId,
                note: note
            };

            console.log('Sending request:', requestData);

            fetch(`/api/member/updateMemberNote`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData)
            })
                .then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('네트워크 응답이 실패했습니다.');
                    }
                })
                .then(data => {
                    if (data.success) {
                        alert('비고가 성공적으로 저장되었습니다.');
                    } else {
                        alert('비고 저장에 실패했습니다.');
                    }
                })
                .catch(error => {
                    console.error('저장 실패', error);
                    alert('비고 저장에 실패했습니다.');
                });
        } else {
            console.error(`해당 멤버의 노트 찾을 수 없음-${memberId}`);
        }
    }
</script>
</body>
</html>