@import url("../globalstyle.css");
@import url("../consult/sidebarConsultantList.css");
@import url("../consult/sidebarReservationList.css");

.hashtag-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    min-height: 50px;
}

.hashtag {
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: flex;
    align-items: center;
}

.remove-button {
    background: none;
    border: none;
    color: red;
    margin-left: 5px;
    cursor: pointer;
}

.content-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-group-item {
    transition: background-color 0.3s;
    padding: 20px;  /* 리스트 아이템의 공간을 넓힘 */
    margin-bottom: 10px;  /* 각 아이템 사이의 간격을 넓힘 */
    position: relative;
}

.list-group-item:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.badge-light {
    background-color: #f8f9fa;
    color: #6c757d;
}

.list-group-item .study-title {
    font-size: 1.25rem;  /* 제목 글자 크기를 키움 */
    color: #343a40;
}

.list-group-item .author {
    font-size: 0.9rem;  /* 작성자 글자 크기를 줄임 */
    color: #495057;
}

.list-group-item small {
    color: #6c757d;
}

.study-info {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
}

.pagination {
    margin-top: 20px;
}

.page-link {
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}