
.room-list {
    margin-top: 20px;
}

/*입장불가 색상지정 스타일 none */
.disabled-link {
    pointer-events: none;
    color: gray;
}
/*모달창 제목? 1*/
#reservationModalLabel {
    color:black; /* 원하는 색상으로 변경 */
}

/*모달창 제목? 2*/
#reservationModal .reservationModalH2 {
    color: black; /* 제목 텍스트 색상 */
}





/* #reservationModal에만 적용되는 스타일 */

/* #myModal 모달 스타일 */
#reservationModal.modal {
    display: none; /* 숨김으로 시작 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 검정색 배경, 불투명도 */
    z-index: 10001;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    padding-left: 250px; /* 사이드바 너비만큼 패딩 추가 */
}

#reservationModal .modal-dialog {
    max-width: 1000px; /* 모달 최대 너비 조정 */
}

#reservationModal .modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 중앙 정렬 */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* 너비 100% */
    
}

#reservationModal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reservationModal .modal-title {
    font-size: 24px;
}

#reservationModal .close {
    font-size: 24px;
}

#reservationModal .modal-body {
    padding: 20px;
}

#reservationModal .modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

/* 테이블 스타일 */
#reservationModal .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

#reservationModal .table th,
#reservationModal .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

#reservationModal .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

#reservationModal .table tbody + tbody {
    border-top: 2px solid #dee2e6;
}