<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정 - LearnWay</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid p-0">
    <div class="left-panel d-flex justify-content-center align-items-center">
        <p>목표에 도달하는 길,<br>LearnWay가 함께합니다!</p>
    </div>
    <div class="right-panel d-flex flex-column justify-content-center align-items-center">
        <h2 class="mb-4">비밀번호 재설정</h2>
        <form id="password-reset-form" class="login-form" method="post" th:action="@{/password/reset}" th:object="${passwordResetDTO}">
            <div class="form-group mb-3">
                <label for="password">새 비밀번호</label>
                <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="새 비밀번호를 입력하세요." required>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
            </div>
            <div class="form-group mb-5">
                <label for="confirmPassword">비밀번호 확인</label>
                <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" placeholder="비밀번호를 다시 입력하세요." required>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></small>
            </div>
            <div class="form-group mb-5">
                <button type="submit" class="btn btn-outline-primary btn-block">비밀번호 재설정</button>
            </div>
        </form>
        <p class="additional-links">
            <a th:href="@{/}">로그인 페이지</a>
        </p>
    </div>
</div>

<script>
    $(document).ready(function() {
        // 비밀번호 확인 유효성 검사를 클라이언트 측에서 먼저 수행
        $('#password-reset-form').submit(function(event) {
            var password = $('#password').val();
            var confirmPassword = $('#confirmPassword').val();

            if (password !== confirmPassword) {
                event.preventDefault();
                alert("비밀번호가 일치하지 않습니다.");
            }
        });
    });
</script>
</body>
</html>