<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnWay</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/member/update.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/member/update.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> <!-- 이모티콘 -->
    <link rel="stylesheet" type="text/css" href="/css/consult/sidebarConsultantList.css"><!-- 상담예약 css파일 -->
    <link rel="stylesheet" type="text/css" href="/css/consult/sidebarReservationList.css"><!-- 예약리스트 css파일 -->
    <link rel="stylesheet" type="text/css" href="/css/globalstyle.css">
</head>
<body>
<!-- SideBar 불러오는 부분 -->
<div id="sidebar" th:replace="sidebar :: sidebar"></div>

<!-- 메인 컨텐츠 이 div 안을 body 라고 생각하고 쓰면 됩니다 -->
<div class="main__content" style="height: 100vh; overflow-y: auto">
    <div class="container mt-5">
        <div class="mx-auto" style="width:900px;">
        <form th:action="@{/member/update}" method="post" th:object="${memberUpdateDTO}" onsubmit="return validateForm(event)" enctype="multipart/form-data">
            <!-- 중복체크 없을 경우 submit X -->
            <input type="hidden" id="isUsernameChecked" value="true"> <!-- 수정 시 ID 중복 체크는 필요 없으므로 true -->

            <div class="text-center mb-4">
                <!-- 현재 프로필 이미지를 조회  -->
                <!--<img id="imagePreview" th:src="${#authentication.principal.image}" alt="Image Preview" class="img-preview mb-3" />-->
                <img id="imagePreview" th:src="${memberUpdateDTO.memberImage != null ? memberUpdateDTO.memberImage : '/img/member/member-default.png'}" alt="Image Preview" class="img-preview mb-3" />
                <!-- 파일 업로드 input 사진 업로드 시 위 이미지 비활성화 및 새 이미지 아래 인풋 활성화 -->
                <input type="file" class="form-control-file" id="imageUpload" name="newMemberImage" accept="image/*" onchange="previewImage(this)" style="display: none;">
                <button type="button" class="btn btn-outline-info" onclick="$('#imageUpload').click();">이미지 선택</button>
            </div>

            <!-- ID 입력 -->
            <div class="form-group row">
                <label for="memberId" class="col-sm-4 col-form-label required-label">ID</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="memberId" name="memberId" th:field="*{memberId}" readonly>
                </div>
            </div>
            <!-- 이메일 (인증) -->
            <div class="form-group row">
                <label for="memberEmail" class="col-sm-4 col-form-label required-label">Email</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" id="memberEmail" name="memberEmail" th:field="*{memberEmail}" readonly>
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-info" onclick="openEmailVerificationPopup()">메일 인증</button>
                        </div>
                        <input type="hidden" id="emailVerified" value="true">
                    </div>
                </div>
            </div>
            <!-- 비밀번호 입력 -->
            <div class="form-group row">
                <label for="password" class="col-sm-4 col-form-label">비밀번호</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="password" name="password" th:field="*{password}" placeholder="변경할 경우에만 입력">
                </div>
            </div>
            <!-- 비밀번호 확인 -->
            <div class="form-group row">
                <label for="confirmPassword" class="col-sm-4 col-form-label">비밀번호 확인</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="변경할 경우에만 입력">
                    <small id="passwordCheckResult" class="text-danger"></small>
                </div>
            </div>
            <!-- 이름 입력 -->
            <div class="form-group row">
                <label for="memberName" class="col-sm-4 col-form-label required-label">성함</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="memberName" name="memberName" th:field="*{memberName}">
                </div>
            </div>
            <!-- 생년월일 -->
            <div class="form-group row">
                <label for="memberBirth" class="col-sm-4 col-form-label required-label">생년월일</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" id="memberBirth" name="memberBirth" th:field="*{memberBirth}">
                </div>
            </div>
            <!-- 성별 -->
            <div class="form-group row">
                <label for="gender" class="col-sm-4 col-form-label required-label">성별</label>
                <div class="col-sm-8">
                    <select class="form-control" id="gender" name="gender" th:field="*{memberGender}">
                        <option value="" selected>성별을 선택하세요.</option>
                        <option value="Male" th:selected="${memberGender == 'Male'}">남성</option>
                        <option value="Female" th:selected="${memberGender == 'Female'}">여성</option>
                    </select>
                    <small th:if="${#fields.hasErrors('memberGender')}" th:errors="*{memberGender}" class="text-danger"></small>
                </div>
            </div>
            <!-- 연락처 -->
            <div class="form-group row">
                <label for="memberPhone" class="col-sm-4 col-form-label required-label">연락처</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="memberPhone" name="memberPhone" th:field="*{memberPhone}" oninput="formatPhoneNumber(this)">
                    <small th:if="${#fields.hasErrors('memberPhone')}" th:errors="*{memberPhone}" class="text-danger"></small>
                </div>
            </div>
            <!-- 통신사 -->
            <div class="form-group row">
                <label for="memberTelecom" class="col-sm-4 col-form-label required-label">통신사</label>
                <div class="col-sm-8">
                    <select class="form-control" id="memberTelecom" name="memberTelecom" th:field="*{memberTelecom}">
                        <option value="">통신사를 선택하세요.</option>
                        <option value="SKT">SKT</option>
                        <option value="KT">KT</option>
                        <option value="LG">LG</option>
                        <option value="SKT_ALT">SKT 알뜰폰</option>
                        <option value="KT_ALT">KT 알뜰폰</option>
                        <option value="LG_ALT">LG 알뜰폰</option>
                        <option value="WIRED_AND_OTHER">유선 혹은 기타</option>
                    </select>
                    <small th:if="${#fields.hasErrors('memberTelecom')}" th:errors="*{memberTelecom}" class="text-danger"></small>
                </div>
            </div>
            <!-- 선택 입력 사항 구분선 -->
            <hr class="my-4">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-info">선택 입력 사항</label>
            </div>
            <!-- 학교 -->
            <div class="form-group row">
                <label for="memberSchool" class="col-sm-4 col-form-label">학교</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="memberSchool" name="memberSchool" th:field="*{memberSchool}">
                </div>
            </div>
            <!-- 학년 -->
            <div class="form-group row">
                <label for="memberGrade" class="col-sm-4 col-form-label">학년</label>
                <div class="col-sm-8">
                    <select class="form-control" id="memberGrade" name="memberGrade" th:field="*{memberGrade}">
                        <option value="0">학년을 선택하세요.</option>
                        <option value="1">1학년</option>
                        <option value="2">2학년</option>
                        <option value="3">3학년</option>
                        <option value="4">4학년</option>
                        <option value="5">5학년</option>
                        <option value="6">6학년</option>
                    </select>
                </div>
            </div>
            <!-- 주소 -->
            <div class="form-group row">
                <label for="memberAddress" class="col-sm-4 col-form-label">주소</label>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" id="memberAddress" name="memberAddress" placeholder="주소 찾기를 클릭해 주소를 입력하세요." readonly th:field="*{memberAddress}">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-info" onclick="kakaoMap()">주소 찾기</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 상세 주소 -->
            <div class="form-group row">
                <label for="memberDetailadd" class="col-sm-4 col-form-label">상세 주소</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="memberDetailadd" name="memberDetailadd" placeholder="나머지 자세한 주소를 입력하세요." th:field="*{memberDetailadd}">
                </div>
            </div>
            <!-- 목표 대학 입력 섹션 -->
            <div class="form-group row">
                <label for="targetUni1" class="col-sm-4 col-form-label">1지망 대학</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="targetUni1" name="targetUnis[0].collegeName" placeholder="1지망 대학 이름 입력" th:field="*{targetUnis[0].collegeName}">
                    <input type="hidden" name="targetUnis[0].rank" value="1">
                </div>
            </div>
            <div class="form-group row">
                <label for="targetUni2" class="col-sm-4 col-form-label">2지망 대학</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="targetUni2" name="targetUnis[1].collegeName" placeholder="2지망 대학 이름 입력" th:field="*{targetUnis[1].collegeName}">
                    <input type="hidden" name="targetUnis[1].rank" value="2">
                </div>
            </div>
            <div class="form-group row">
                <label for="targetUni3" class="col-sm-4 col-form-label">3지망 대학</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="targetUni3" name="targetUnis[2].collegeName" placeholder="3지망 대학 이름 입력" th:field="*{targetUnis[2].collegeName}">
                    <input type="hidden" name="targetUnis[2].rank" value="3">
                </div>
            </div>
            <div class="form-group row">
                <label for="submit" class="col-sm-4 col-form-label">입력을 마치셨다면?</label>
                <div class="col-sm-8">
                    <button type="submit" id="submit" class="btn btn-outline-success btn-block">회원 정보 수정</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
<!-- Bootstrap, 각종 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script><!-- 사이드바 상담관련 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script><!-- 사이드바 상담관련 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> <!-- 툴팁, 팝오버 등의 컴포넌트 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/consult/consultationReservation.js"></script><!-- 상담예약 javascript -->
<script src="/js/consult/reservationList.js"></script><!-- 예약리스트 javascript -->
</body>
</html>