<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채팅방 멤버</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/consult/sidebarConsultantList.css">
    <link rel="stylesheet" type="text/css" href="/css/consult/sidebarReservationList.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
</head>
<body>
<div th:replace="sidebar :: sidebar"></div>
<div class="container">
    <h1>채팅방 멤버</h1>
    <div th:if="${list != null}">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">이름</th>
                    <th scope="col">채팅방 ID</th>
                    <th scope="col">채팅방 이름</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="list : ${list}" class="chat-room-row" th:data-room-id="${list.chatRoom.chatroomid}">
                    <td th:text="${list.chatMemId}"></td>
                    <td th:text="${list.member.memberName}"></td>
                    <td th:text="${list.chatRoom.chatroomid}"></td>
                    <td th:text="${list.chatRoom.roomname}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${list == null}">
        <p>채팅방 멤버가 없습니다.</p>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/consult/consultationReservation.js"></script>
<script src="/js/consult/reservationList.js"></script>

<script>
$(document).ready(function() {
    $(".chat-room-row").dblclick(function() {
        var roomId = $(this).data("room-id");
        window.location.href = "/enterRoom?roomId=" + roomId;
    });
});
</script>
</body>
</html>