<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnWay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
</head>
<body>
<!-- SideBar -->
<div th:replace="sidebar :: sidebar"></div>

<!-- 메인 컨텐츠 -->
<div id="main-content">
    <!-- 이곳에 작업합시다 :D -->
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/sidebar.js"></script>
</body>
</html>