<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Study List</title>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script><!-- jquery 는 항상 위에둘것 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script><!-- 부트스트랩 js -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"><!-- 부트스트랩 css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"> <!-- 이모티콘 -->
    <link rel="stylesheet" type="text/css" href="/css/consult/sidebarConsultantList.css"><!-- 상담예약 css파일 -->
    <link rel="stylesheet" type="text/css" href="/css/consult/sidebarReservationList.css"><!-- 예약리스트 css파일 -->
     <style>
        .hashtag-container {
            display: flex;
            flex-wrap: wrap;
            border: 1px solid #ccc;
            padding: 10px;
            width: 300px;
            min-height: 50px;
        }

        .hashtag {
            background-color: #e0e0e0;
            border-radius: 5px;
            padding: 5px;
            margin: 5px;
            display: flex;
            align-items: center;
        }

        .remove-button {
            background: none;
            border: none;
            color: red;
            margin-left: 5px;
            cursor: pointer;
        }

        /* 추가된 스타일 */
        #main-content {
            text-align: center;
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .pagination {
            margin-top: 20px;
            text-align: center;
        }

        .pagination li {
            display: inline-block;
            margin-right: 5px;
        }

        .pagination li a {
            padding: 5px 10px;
            text-decoration: none;
            color: #007bff;
            border: 1px solid #007bff;
            border-radius: 3px;
        }

        .pagination li.active a {
            background-color: #007bff;
            color: white;
        }

        .pagination li.disabled a {
            color: #6c757d;
            background-color: #f2f2f2;
            border-color: #f2f2f2;
        }
    </style>
    
    <script>
    $(document).ready(function() {
        
        // 채팅방 체크 박스 처리 함수
        function updateCheckboxValue(checkbox) {
            checkbox.value = checkbox.checked ? 1 : 0;
            var roomCheck = checkbox.value;
            console.log(roomCheck);

            $.ajax({
                type: "POST",
                url: "/api/study/searchChatStudy",
                data: JSON.stringify({roomCheck: roomCheck}),
                contentType: "application/json",
                dataType: "json",
                success: function(data) {
                    console.log("채팅방 데이터전송 성공");
                },
                error: function(error) {
                    console.log('채팅방 데이터전송 실패');
                }
            });
        }
        window.updateCheckboxValue = updateCheckboxValue;

        $('#startdate').on('change', startDate);
        $('#exampleModal').modal('hide');
        $('#advancedSearchButton').on('click', function() {
            $('#exampleModal').modal('show');
        });

        let hashtags = [];
        const hashtagsContainer = document.querySelector(".hashtag-container");
        const hiddenHashtagsInput = document.createElement("input");
        hiddenHashtagsInput.type = "hidden";
        hiddenHashtagsInput.name = "hashtags";
        document.body.appendChild(hiddenHashtagsInput);


        // 모달이 보여질 때 해시태그 입력 이벤트 바인딩
        $('#exampleModal').on('shown.bs.modal', function () {
            $('#searchtag').off('keyup').on('keyup', function(event) {
                if (event.key === 'Enter') {
                    const tag = $('#searchtag').val().trim();
                    if (tag) {
                        addHashtag(tag);
                        $('#searchtag').val(''); // 입력 필드 초기화
                    }
                }
            });
        });

        // 적용 버튼 클릭 시 처리
        $('#applyButton').on('click', function() {
            // 해시태그 처리
            const tag = $('#searchtag').val();
            addHashtag(tag);

            // 시작일 처리
            const startDate = $('#startdate').val();
            console.log(startDate);

            // 채팅방 처리
            const roomCheck = $('#roomCheck').prop('checked') ? 1 : 0;
            console.log(roomCheck);

            // 모달 창 닫기
            $('#exampleModal').modal('hide');

            // 실제로 서버로 데이터 전송 처리
            sendFormData(tag, startDate, roomCheck);
        });

        // 태그 추가 함수
        function addHashtag(tag) {
            tag = tag.replace(/[\[\]]/g, '').trim();
            if (tag && !hashtags.includes("#" + tag)) { // 중복된 해시태그 방지
                const span = document.createElement("span");
                span.innerText = "#" + tag;
                span.classList.add("hashtag");

                const removeButton = document.createElement("button");
                removeButton.innerText = "x";
                removeButton.classList.add("remove-button");
                removeButton.addEventListener("click", () => {
                    hashtagsContainer.removeChild(span);
                    hashtags = hashtags.filter((hashtag) => hashtag !== "#" + tag);
                    hiddenHashtagsInput.value = hashtags.map(tag => tag.substring(1)).join(",");
                    // 해시태그 제거 후 서버로 보내기
                    sendHashtagsToServer(hashtags);
                });

                span.appendChild(removeButton);
                hashtagsContainer.appendChild(span);
                hashtags.push("#" + tag);
                hiddenHashtagsInput.value = hashtags.map(tag => tag.substring(1)).join(",");

                // AJAX 요청
                sendHashtagsToServer(hashtags);
            }
        }

        // 해시태그를 서버로 보내는 함수
        function sendHashtagsToServer(hashtags) {
            $.ajax({
                type: "POST",
                url: "/api/study/searchHashtags",
                data: JSON.stringify({tags: hashtags}),
                contentType: "application/json",
                dataType: "json",
                success: function(data) {
                    console.log("해시태그 업데이트 성공:", data);
                },
                error: function(error) {
                    console.log('해시태그 업데이트 실패:', error);
                }
            });
        }

        // 검색 값 처리 함수
        function handleSearch() {
            var searchValue = $('#search').val();
            console.log('검색 값:', searchValue);

            $.ajax({
                type: "POST",
                url: "/api/study/searchList",
                data: JSON.stringify({title: searchValue}),
                contentType: "application/json",
                dataType: "json",
                success: function(data) {
                    console.log("검색 성공");
                },
                error: function(error) {
                    console.log('검색 실패');
                }
            });
        }

        $('#searchButton').on('click', handleSearch);

        $('#search').on('keypress', function(event) {
            if (event.key === 'Enter') {
                handleSearch();
            }
        });

        // 시작일 날짜 값 처리 함수
        function startDate() {
            var startDate = $('#startdate').val();
            console.log(startDate);

            $.ajax({
                type: "POST",
                url: "/api/study/searchStartdate",
                data: JSON.stringify({startdate: startDate}),
                contentType: "application/json",
                dataType: "json",
                success: function(data) {
                    console.log("시작일 데이터전송 성공");
                },
                error: function(error) {
                    console.log('시작일 데이터전송 실패');
                }
            });
        }

        // 실제 데이터 전송 함수
        function sendFormData(tag, startDate, roomCheck) {
            $.ajax({
                type: "POST",
                url: "/api/study/advancedSearch",
                data: JSON.stringify({ tag: tag, startDate: startDate, roomCheck: roomCheck }),
                contentType: "application/json",
                dataType: "json",
                success: function(data) {
                    console.log("상세 검색 데이터 전송 성공:", data);
                    // 여기서 필요한 추가적인 처리 로직을 추가할 수 있습니다.
                },
                error: function(error) {
                    console.log('상세 검색 데이터 전송 실패:', error);
                }
            });
        }
    });
    </script>

</head>
<body>
    <!-- SideBar 불러오는부분 -->
    <div th:replace="sidebar :: sidebar"></div>
    
    <div id="main-content">
        <div style="text-align: center; margin-top: 20px;">
            <input type="text" id="search" name="search" placeholder="   Search">
            <button type="button" id="searchButton" name="searchButton">검색</button>
        </div>

        <!-- 상세검색 버튼 -->
       <button type="button" id="advancedSearchButton" name="advancedSearchButton" data-toggle="modal" data-target="#exampleModal" style="margin-top: 20px; margin-left: 10px;">
    상세검색
	</button>
	
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">상세 검색</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="searchtag" class="form-label">태그 검색</label>
                    <input type="text" id="searchtag" name="searchtag" class="form-control" placeholder="태그를 입력하세요">
                    <div class="hashtag-container"></div>
                </div>
                <div class="mb-3">
                    <label for="startdate" class="form-label">스터디 시작일</label>
                    <input type="date" id="startdate" name="startdate" class="form-control">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" id="roomCheck" name="roomCheck" class="form-check-input" onclick="updateCheckboxValue(this)">
                    <label for="roomCheck" class="form-check-label">채팅방 포함</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" id="applyButton" class="btn btn-primary">적용</button>
            </div>
        </div>
    </div>
</div>
        <table>
            <thead>
                <tr>
                    <th>제목</th>
                    <th>태그</th>
                    <th>스터디 시작일</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="study : ${list}" th:onclick="window.location.href='/study/detail/' + [[${study.postid}]]">
                    <td th:text="${study.title}">Title</td>
                    <td>
                        <span th:each="tag : ${study.tags}" th:text="${tag.tag}">Tag</span>
                    </td>
                    <td th:text="${study.startdate}">Start Date</td>
                    <td>
                        <span th:each="member : ${study.member}" th:text="${member.memberName}">작성자</span>
                    </td>
                </tr>
            </tbody>
        </table>

        <button onclick="location.href='/studyadd'" style="margin-top: 20px; margin-left: 10px;">글작성</button>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${startPage == list.pageable.pageNumber + 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/studylist(page=${list.pageable.pageNumber - 1})}" tabindex="-1">Previous</a>
                </li>
                <li class="page-item" th:classappend="${num == list.pageable.pageNumber + 1} ? 'active'" th:each="num : ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link" th:href="@{/studylist(page=${num-1})}" th:text="${num}">1</a></li>
                <li class="page-item" th:classappend="${endPage == list.pageable.pageNumber + 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/studylist(page=${list.pageable.pageNumber + 1})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script><!-- 사이드바 상담관련 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script><!-- 사이드바 상담관련 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script><!-- 툴팁(tooltips)과 팝오버(popovers) 같은 UI 요소를 쉽게 관리 -->
    <script src="/js/consult/consultationReservation.js"></script><!-- 상담예약 javascript -->
    <script src="/js/consult/reservationList.js"></script><!-- 예약리스트 javascript -->
</body>
</html>
