<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LearnWay</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script><!-- jquery 는 항상 위에둘것 -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script><!-- 부트스트랩 js -->
        <script src="https://unpkg.com/react@17.0.2/umd/react.production.min.js"></script>
        <script src="https://unpkg.com/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"><!-- 부트스트랩 css -->
        <link rel="stylesheet" href="/css/exam/exam-detail.css" type="text/css"/>
    </head>
    <body>
    <!-- SideBar 불러오는부분 -->
    <div th:replace="sidebar :: sidebar"></div>

    <!-- 메인 컨텐츠 이 div 안을 body라고 생각하고 쓰면 됩니다 -->
    <div class="main__content">
        <div class="exam-detail__container" id="exam-detail-root">
        </div>
    </div>


    

    <div class="exam-detail__modal__info hidden">
        <div class="exam-detail__modal__detail-overlay"></div>
        <form class="exam-detail__modal__info-box" action="/exam/update" method="post">
            <div>
                <label>
                    <span>시험이름</span>
                    <input type="text" th:value="${exam.getExamName()}" name="examName" required/>
                </label>
            </div>
            <div>
                <label>
                    <span>시험종류</span>
                    <select name="examTypeName">
                        <option th:each="item:${examTypes}" th:value="${item.getExamTypeName()}" th:text="${item.getExamTypeName()}"></option>
                    </select>
                </label>
            </div>
            <div>
                <label>
                    <span>시험날짜</span>
                    <input type="date" th:value="${exam.getExamDate()}" name="examDate" required/>
                </label>
            </div>
            <div>
                <label>
                    <span>시험범위</span>
                    <input type="text" th:value="${exam.getExamRange()}" name="examRange" required/>
                </label>
            </div>
            <div>
                <label>
                    <span>메  모</span>
                    <input type="text" th:value="${exam.getExamMemo()}" name="examMemo" required/>
                </label>
            </div>
            <button>수정하기</button>
            <input type="hidden" th:value="${exam.getExamId()}" name="examId"/>
        </form>
    </div>
</body>
<script src="/js/exam/exam-detail.js" type="text/babel"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script><!-- 사이드바 상담관련 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script><!-- 사이드바 상담관련 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script><!-- 툴팁(tooltips)과 팝오버(popovers) 같은 UI 요소를 쉽게 관리 -->
<script src="/js/consult/consultationReservation.js"></script><!-- 상담예약 javascript -->
<script src="/js/consult/reservationList.js"></script><!-- 예약리스트 javascript -->
</html>