@charset "UTF-8";
.fc-event-main {
    color: #2C3E50 !important;
  }
  
.fc-timegrid-slot:last-child {
  height: 30px !important; /* 또는 다른 슬롯과 동일한 높이 */
  min-height: 30px !important;
}
  
.fc-event-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
}

.fc-event-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fc-event-studyway,
.fc-event-achieveRate {
  display: inline-block;
}

.fc-event-studyway {
  font-size: 13px;	
  font-weight: bold;
  margin-bottom: 5px;
}

.fc-event-achieveRate {
  font-size: 12px;
  font-weight: bold;	
  text-align: right;
  margin-bottom: 5px;
}

.fc-event-subtitle {
  font-size: 10px;
  font-weight: bold;
  margin: 2px 0px;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #F48FB1 var(--progress), #e0e0e0 var(--progress));
  margin-bottom: 4px;
  
  /*
  E68FAC
  
  */
}

/* 일요일 날짜 빨간색 */
.fc-day-sun {
  color: #C62828;
  text-decoration: none;
}

/* 토요일 날짜 파란색 */
.fc-day-sat {
  color: #1565C0;
  text-decoration: none;
}

/* 달성율 0일 때 배경색 없애는 방법 */
.fc-daygrid-event.no-achievement-event,
.fc-daygrid-event.no-achievement-event .fc-event-main,
.fc-daygrid-event.no-achievement-event .fc-event-title,
.fc-daygrid-event.no-achievement-event .fc-event-time {
    background-color: transparent !important;
    border-color: transparent !important;
    color: transparent !important;
}

.fc-daygrid-event.no-achievement-event .fc-event-main {
    display: none !important;
}

/*월간에서 일일상세모달창*/
.modal-content {
  border-radius: 0.5rem;
  margin: auto;
}

.modal-header {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.table th {
  font-weight: 600;
}

.bg-custom {
  background-color: #546E7A; 
}

.modal-backdrop {
    display: none;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
}

#monthlyScheduleModal .modal-dialog {
    max-width: 500px !important;
    width: 90% !important;
}

.fc-col-header-cell.fc-day-sun {
    background-color: #ffebee;
}

.fc-col-header-cell.fc-day-sat {
    background-color: #e3f2fd;
}

/* 전체 캘린더 테두리 스타일 */
.fc-scrollgrid {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: 1px solid #666;
    border-radius: 10px;
    overflow: hidden;
}

.fc-col-header-cell.fc-day-sun {
    background-color: #ffebee;
}

.fc-col-header-cell.fc-day-sat {
    background-color: #e3f2fd;
}

.fc-col-header-cell {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

