<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>유저 예약리스트 페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <style>
        body {
            padding: 20px;
        }
        .room-list {
            margin-top: 20px;
        }
        .disabled-link {
            pointer-events: none;
            color: gray;
        }
    </style>
</head>
<body>
	<!-- 모델로담아온 유져 pk값  히든으로 담아둠 java스크립트에서 사용할예정-->
	<input type="hidden" th:value="${memberId}" id="memberId">
<div class="container">
    <h1>마이페이지</h1>
    <!-- 버튼 클릭 시 모달 띄우기 -->
    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#reservationModal">
        상담 예약 리스트 보기
    </button>

    <!-- 모달 구조 -->
    <div class="modal fade" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reservationModalLabel">화상상담 예약리스트</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2>ReservationList</h2>
                    <table class="table table-striped room-list">
                        <thead>
                        <tr>
                            <th>예약 상담</th>
                            <th>상담사</th>
                            <th>예약 시간</th>
                            <th>화상 상담</th>
                        </tr>
                        </thead>
                        <tbody id="reservationList">
                        <!-- 예약 리스트가 여기에 동적으로 추가됩니다. -->
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var memberId = document.getElementById("memberId").value;
        console.log("memberId :"+memberId);
        // SSE 설정 함수
        function setupUserSSE() {
            var eventSource = new EventSource('/api/subscribe/user/' + memberId);
            
            eventSource.onmessage = function(event) {
                console.log('새 이벤트 수신: ', event.data);
                alert(event.data);
            };
            
            eventSource.onerror = function(event) {
                console.error('SSE 연결 오류: ', event);
            };
        }

        // 날짜 포맷팅 함수
        function formatDateTime(dateTimeString) {
            const date = new Date(dateTimeString);
            const year = date.getFullYear();
            const month = ('0' + (date.getMonth() + 1)).slice(-2);
            const day = ('0' + date.getDate()).slice(-2);
            let hours = date.getHours();
            const minutes = ('0' + date.getMinutes()).slice(-2);

            // 오전/오후 구분과 12시간제 표시
            const period = hours < 12 ? '오전' : '오후';
            hours = hours % 12 || 12; // 0시일 경우 12시로 표시
            const formattedTime = `${year}/${month}/${day} ${period} ${hours}:${minutes}`;

            return formattedTime;
        }

        // 예약 데이터를 가져와서 화면에 표시하는 함수
        function fetchReservations() {
            $.ajax({
                url: '/api/myReservations',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    console.log('Received reservations data:', data); // 예약 데이터 콘솔 출력
                    var reservationList = $('#reservationList');
                    reservationList.empty();

                    const currentTime = new Date(); // 현재 시간

                    data.forEach(function(reservation) {
                        // 예약 시간을 포맷팅
                        var bookingStartTime = new Date(reservation.bookingStart);
                        var bookingEndTime = new Date(reservation.bookingEnd);
                        var formattedStartTime = formatDateTime(reservation.bookingStart);
                        var formattedEndTime = formatDateTime(reservation.bookingEnd);
                        var formattedTime = `${formattedStartTime} ~ ${formattedEndTime}`;
                        var roomId = reservation.counselor.id;
                        var counselorName = reservation.counselor.name; // counselor에서 직접 접근
                        var subject = reservation.counselor.subject; // counselor에서 직접 접근

                        // 현재 시간이 예약 시간 내에 있는지 확인
                        var isWithinBookingTime = currentTime >= bookingStartTime && currentTime <= bookingEndTime;
                        var linkClass = isWithinBookingTime ? '' : 'disabled-link';
                        //var linkClass = isWithinBookingTime ? 'disabled-link' : '';
                        var linkText = isWithinBookingTime ? '입장하기' : '입장불가';

                        var row = `
                            <tr>
                                <td>${subject}</td>
                                <td>${counselorName} 상담사</td>
                                <td>${formattedTime}</td>
                                <td><a href="#" class="${linkClass}" data-room-id="${roomId}">${linkText}</a></td>
                            </tr>
                        `;
                        reservationList.append(row);
                    });
                },
                error: function(xhr, status, error) {
                    console.error('예약 데이터를 가져오는 데 실패했습니다. 오류: ', error);
                }
            });
        }

        // 입장하기 링크 클릭 시의 이벤트 핸들러
        $(document).on('click', 'a', function(e) {
            e.preventDefault();
            var roomId = $(this).data('room-id');
            var myKey = Math.random().toString(36).substring(2, 11);
            // WebSocket 연결 설정
            var socket = new SockJS('/signaling/video');
            var stompClient = Stomp.over(socket);
            stompClient.debug = null;

            // 서버와의 WebSocket 연결
            stompClient.connect({}, function () {
                console.log('WebSocket 연결 성공');

                // 서버로 roomId 전송
                stompClient.send(`/app/join/room/${roomId}/${myKey}`, {}, JSON.stringify({}));

                // 서버로부터의 응답 처리
                stompClient.subscribe(`/topic/join/room/${roomId}/${myKey}`, function (response) {
                    var message = response.body.trim();
                    console.log('서버 응답:', message);

                    // "successfully"와 "full" 문자열에 따른 처리
                    if (message === 'successfully') {
                        console.log("방 들어가기 요청 성공");
                        window.open(`http://localhost:8080/video?roomId=${roomId}`, '_blank');
                    } else if (message === 'full') {
                        console.log("방 들어가기 요청 실패");
                        alert('이미 방이 가득 찼습니다.');
                    } else {
                        console.log("서버 응답 형식 오류:", message);
                        // 필요한 추가 처리를 여기에 추가
                    }

                    // WebSocket 연결 종료
                    stompClient.disconnect();
                });
            }, function (error) {
                console.error('WebSocket 연결 실패:', error);
            });
        });

        // 초기 예약 데이터 가져오기 함수 호출
        fetchReservations();

        // 모달이 열릴 때 예약 데이터 가져오기 함수 호출
        $('#reservationModal').on('shown.bs.modal', function () {
            fetchReservations();
        });

        // SSE 설정 호출
        setupUserSSE();
    });
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
