<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Join</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/member/join.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .container {
            max-width: 700px;
        }
        .input-group .form-control {
            flex: 1;
        }
        .input-group .input-group-append {
            flex: 0 0 auto;
        }
        .required-label::after {
            content: '*';
            color: red;
            margin-left: 5px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">회원 가입 폼</h1>
    <form th:action="@{/member/join}" method="post" th:object="${joinDTO}" onsubmit="return validateForm(event)">
        <!-- 중복체크 없을 경우 submit X -->
        <input type="hidden" id="isUsernameChecked" value="false">
        <div class="form-group row">
            <label for="username" class="col-sm-4 col-form-label required-label">ID</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text" class="form-control" id="username" name="username" th:field="*{username}">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-info" onclick="checkUsername()">중복 체크</button>
                    </div>
                </div>
                <small th:if="${usernameError != null}" th:text="${usernameError}" class="text-danger"></small>
                <small id="idCheckResult" class="text-danger"></small> <!-- ID 중복 검사 결과 메시지 -->
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-4 col-form-label required-label">Password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="password" name="password" th:field="*{password}">
                <small th:if="${passwordError != null}" th:text="${passwordError}" class="text-danger"></small>
            </div>
        </div>
        <div class="form-group row">
            <label for="confirmPassword" class="col-sm-4 col-form-label required-label">Confirm Password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                <small id="passwordCheckResult" class="text-danger"></small>
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-4 col-form-label required-label">Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
                <small th:if="${nameError != null}" th:text="${nameError}" class="text-danger"></small>
            </div>
        </div>
        <div class="form-group row">
            <label for="birth" class="col-sm-4 col-form-label required-label">Birth</label>
            <div class="col-sm-8">
                <input type="date" class="form-control" id="birth" name="birth" th:field="*{birth}">
                <small th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}" class="text-danger"></small>
            </div>
        </div>
        <div class="form-group row">
            <label for="phone" class="col-sm-4 col-form-label required-label">Phone</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="phone" name="phone" th:field="*{phone}" oninput="formatPhoneNumber(this)">
                <small th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger"></small>
            </div>
        </div>
        <div class="form-group row">
            <label for="telecom" class="col-sm-4 col-form-label required-label">Telecom</label>
            <div class="col-sm-8">
                <select class="form-control" id="telecom" name="telecom" th:field="*{telecom}">
                    <option value="">Select Telecom</option>
                    <option value="SKT">SKT</option>
                    <option value="KT">KT</option>
                    <option value="LG">LG</option>
                    <option value="SKT_ALT">SKT 알뜰폰</option>
                    <option value="KT_ALT">KT 알뜰폰</option>
                    <option value="LG_ALT">LG 알뜰폰</option>
                </select>
                <small th:if="${#fields.hasErrors('telecom')}" th:errors="*{telecom}" class="text-danger"></small>
            </div>
        </div>
        <div class="form-group row">
            <label for="school" class="col-sm-4 col-form-label">School</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="school" name="school" th:field="*{school}">
            </div>
        </div>
        <div class="form-group row">
            <label for="grade" class="col-sm-4 col-form-label">Grade</label>
            <div class="col-sm-8">
                <select class="form-control" id="grade" name="grade" th:field="*{grade}">
                    <option value="0">Select Grade</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="address" class="col-sm-4 col-form-label">Address</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text" class="form-control" id="address" name="address" placeholder="전체 주소" readonly th:field="*{address}">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-info" onclick="kakaoMap()">주소 찾기</button>
                    </div>
                </div>
                <small th:if="${addressError != null}" th:text="${addressError}" class="text-danger"></small>
            </div>
        </div>
        <div class="form-group row">
            <label for="detailAddress" class="col-sm-4 col-form-label">Detail Address</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="detailAddress" name="detailAddress" placeholder="상세 주소" th:field="*{detailAddress}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-8 offset-sm-4">
                <button type="submit" class="btn btn-outline-success">Join</button>
            </div>
        </div>
    </form>
</div>

<!-- Bootstrap 관련 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script> <!-- 툴팁, 팝오버 등의 컴포넌트 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>