@import "/css/globalstyle.css";
@import "/css/consult/sidebarConsultantList.css";
@import "/css/consult/sidebarReservationList.css";




.exam__container{
    width: 100%;
    max-width: 1200px;
    height: 80vh;
    margin: 0 5px 0 5px;
}

.exam__item__delete-btn{
    background-color: transparent;
    border: none;
}
.exam__item__delete-btn:hover{
    outline: none;
}
.exam__item__delete-btn>svg{
    width: 15px;
    transition: fill .1s ease-in-out;
}
.exam__item__delete-btn>svg:hover{
    fill: tomato;
}
