@import "../globalstyle.css";
@import "../consult/sidebarConsultantList.css";
@import "../consult/sidebarReservationList.css";


.exam-detail__row-input{
    height: 80%;
    width: 40px;
}

.exam-detail__title{
    display: flex;
}
.exam-detail__title>span{
    margin: 0 10px 0 10px;
}