/* 이미지 프리뷰 스타일 */
.img-preview {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.update-content {
    flex: 1;
    overflow-y: auto; /* 스크롤바를 업데이트 컨텐츠 안에만 추가 */
    padding: 20px;
}
