/* 이미지 프리뷰 스타일 */
.img-preview {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

/* 수정 폼 스타일 */
.main__content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.container {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 20px;
}